.navbar-bg{
    background: #fffefe2d !important;
    position: fixed !important;
    z-index: 100 !important;
    backdrop-filter: blur(5px);
    height: 4rem;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company-logo{
    width: 15vw;
}

.company-logo-2{
    display: none;
}

/* @media only screen and (max-width: 899px) {
    .company-logo{
        display: none;
    }

    .company-logo-2{
        display:flex;
        width: 25vw;
    }
} */